%div.align-left.orvocado-placement
  = image_tag('orvocado.png', height: '375px')
%div.align-left.form-section
  %h2

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .field.pad-field
      = f.text_field :username, autofocus: true, placeholder: 'Username', class: 'style-field'

    .field.pad-field
      = f.email_field :email, placeholder: 'Email', class: 'style-field'

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .field.pad-field
      = f.password_field :password, autocomplete: "off", placeholder: 'New Password', class: 'style-field'
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum

    .field.pad-field
      = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'New Password, again...', class: 'style-field'

    %hr

    .field.pad-field
      = f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password', class: 'style-field'

    .actions
      = f.submit "Update", class: 'style-submit'

  %hr

  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'style-cancel'}
