-# topic

.topic{:class => ('selected' if (topic.position_one.selected? || topic.position_two.selected?))}
  - classes = "#{('selected' if topic.position_one.selected?)} #{('deselected' if topic.position_two.selected?)}"
  - reasons = topic.position_one.reasons
  %a.topic-section.topic-side.topic-side-left{title: reasons.any? ? reasons[0].description : nil, 'data-topic-id' => topic.id, 'data-position-id' => topic.position_one.id, :class => classes}
    %div.accent
      = topic.position_one.description
    - if topic.position_one.selected? || topic.position_two.selected?
      %div.percentage{style: "width: #{topic.position_one_perc}%"}

  - classes = "#{('selected-left' if topic.position_one.selected?)} #{('selected-right' if topic.position_two.selected?)}"
  %a.topic-section.topic-description{href: topic_path(topic.id), :class => classes}
    = topic.description
    .topic-tags
      - topic.tags.each do |tag|
        .topic-tag{href: tagged_topics_path(tags: tag.name)}= tag.name

  - classes = "#{('selected' if topic.position_two.selected?)} #{('deselected' if topic.position_one.selected?)}"
  - reasons = topic.position_two.reasons
  %a.topic-section.topic-side.topic-side-right{title: reasons.any? ? reasons[0].description : nil, 'data-topic-id' => topic.id, 'data-position-id' => topic.position_two.id, :class => classes}
    %div.accent
      = topic.position_two.description
    - if topic.position_one.selected? || topic.position_two.selected?
      %div.percentage{style: "width: #{topic.position_two_perc}%"}

  .clear
