-# topic
-# position = one user has selected but not yet added a reason

.topic{:class => ('semi-selected' if (topic.position_one.id == position.id || topic.position_two.id == position.id))}
  - classes = "#{('semi-selected' if topic.position_one.id == position.id)} #{('deselected' if topic.position_two.id == position.id)}"
  %a.topic-section.topic-side.topic-side-left{'data-topic-id' => topic.id, 'data-position-id' => topic.position_one.id, :class => classes}
    = topic.position_one.description

  - classes = "#{('semi-selected-left' if topic.position_one.id == position.id)} #{('semi-selected-right' if topic.position_two.id == position.id)}"
  %a.topic-section.topic-description{href: topic_path(topic.id), :class => classes}
    = topic.description
    .topic-tags
      - topic.tags.each do |tag|
        .topic-tag{href: tagged_topics_path(tags: tag.name)}= tag.name

  - classes = "#{('semi-selected' if topic.position_two.id == position.id)} #{('deselected' if topic.position_one.id == position.id)}"
  .topic-section.topic-side.topic-side-right{'data-topic-id' => topic.id, 'data-position-id' => topic.position_two.id, :class => classes}
    = topic.position_two.description

  .clear

  - classes = "#{('left-side' if topic.position_one.id == position.id)} #{'right-side' if topic.position_two.id == position.id}"
  .reason-area{ :class => classes }

    - reasons = []
    - if topic.position_one.id == position.id
      - reasons = topic.position_one.reasons
    - elsif topic.position_two.id == position.id
      - reasons = topic.position_two.reasons

    - if reasons.any?
      .carousel.slide{"data-ride" => "carousel"}
        .carousel-inner{:role => "listbox"}
          - reasons.each_with_index do |reason, index|
            .carousel-item{ :class => ('active' if index == 0) }
              %div.align-left
                %div.select-position{:class => classes, 'data-reason-id' => reason.id, style: 'margin-top: 5px;'}
                  .glyphicon.glyphicon-ok
              %div.align-left{style: 'padding-left: 10px;'}= reason.description

    .alert
    %textarea{placeholder: 'Why?'}

    %button.submit{ type: 'submit', class: classes }
      %span
        .align-left{style: 'padding-right: 3px;'} Submit
        .loader.align-left{style: 'margin-top: 2px; display: none;'}
