%div.align-left.orvacado-placement
  = image_tag('orvacado.png', height: '375px')
%div.align-left.form-section
  %h2

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field.pad-field
      = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'style-field'
    .actions
      = f.submit "Send me reset password instructions", class: 'style-submit'
  = render "devise/shared/links"
