%div#banner
  %a{href: root_path}
    = image_tag('orvacado_full.png', height: 40, style: 'padding: 5px;')

  .align-right.basic-link
    - if user_signed_in?
      #user-actions.dropdown
        .glyphicon.glyphicon-chevron-down
        = current_user.username
        .dropdown-content
          = link_to('Edit Profile', edit_user_registration_path)
          = link_to('Logout', destroy_user_session_path, method: :delete)
    - else
      = link_to('Login', new_user_session_path)
