%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title orvacado
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        = value

    - unless (controller_path.include? 'devise') || (controller_path == 'registrations')
      = render partial: '/layouts/banner'

    = yield
